<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text">Solicitar Servicio</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Card para filtrar por especialidad -->
  <ion-card class="tarjeta-datos">
    <ion-card-header>
      <div class="header-content">
        <ion-card-title>¡Selecciona tu Especialista!</ion-card-title>
        <ion-button size="small" color="warning" shape="round" (click)="presentAlert()">
          <ion-icon slot="icon-only" name="help"></ion-icon>
        </ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-select [(ngModel)]="filtroEspecialidad" placeholder="Seleccione una especialidad">
          <ion-select-option value="gasfiteria">Gasfitería</ion-select-option>
          <ion-select-option value="plomeria">Plomería</ion-select-option>
          <ion-select-option value="cerrajeria">Cerrajería</ion-select-option>
          <ion-select-option value="limpieza">Limpieza</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row class="ion-padding-top">
        <ion-col>
          <ion-button expand="full" color="primary" (click)="aplicarFiltro()">
            Aplicar Filtro
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="light" (click)="resetearFiltro()">
            Restablecer Filtro
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- Lista de servicios activos filtrados -->
<div class="div-xd">
  <ion-list>
    <ion-item *ngFor="let solicitud of colabActive">
      <ion-card class="tarjeta-datos">
        <ion-card-header>
          <div class="header-content">
            <div>
              <ion-card-title>{{ solicitud.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ solicitud.especialidad }}</ion-card-subtitle>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Descripción de habilidades:</strong> {{ solicitud.descripcion }}</p>
          <p><strong>Día disponible:</strong> {{ solicitud.dateTime }}</p>
          <p><strong>Horario disponible:</strong> {{ solicitud.horario }}</p>
        </ion-card-content>
        <ion-card-footer>
          <ion-button fill="solid" color="primary" expand="block" (click)="solicitarServicio(solicitud)">
            Solicitar Servicio
          </ion-button>
        </ion-card-footer>
      </ion-card>
    </ion-item>
  </ion-list>
</div>
</ion-content>
