.filtro-card {
    margin: 10px;
  }
  
  .icon-start {
    margin-right: 8px;
  }
  
  .filtro-item {
    margin-bottom: 16px;
  }
  
  .botones-filtro {
    margin-top: 16px;
  }
  
  .solicitud-card {
    margin: 10px;
  }
  
  